@import "tailwindcss";

@font-face {
  font-family: "ArmMassis";
  src: url("../fonts/HFMassisShantNUnicode.ttf");
}

.FontMassis{
  font-family: "ArmMassis";
}

.body{
  font-family: "ArmMassis";
}
.text-vrayi{
  color:#2D2D2D ;
}

.text-hetevi{
  color:#79797911 ;
}







/* ....................CRAR................ */


@media (min-width: 768px) {
  @keyframes bounceY {
    0% {
      transform: translateY(0);
      width: 560px;
      height: 360px;
      z-index: 6;
    }
    50% {
      transform: translateY(-500px);
      z-index: 6;
    }
    100% {
      width: 560px;
      height: 360px;
      z-index: 50;
    }
  }

  .animate-bounceY {
    animation: bounceY 2s ease;
  }
}

@media (max-width: 768px) {
  @keyframes bounceYB {
    0% {
      top: 10%;
    }
    100% {
      top: -100%;
      display: none;
    }
  }

  .animate-bounceYB {
    animation: bounceYB 2s ease forwards;
  }

  @keyframes bounceYT {
    0% {
      bottom: -60%;
    }
    100% {
      bottom:-180%;
      display: none;
    }
  }

  .animate-bounceYT {
    animation: bounceYT 2s ease forwards;
  }
}